# http://ddollar.github.com/foreman/
RACK_ENV=development
SECRET_KEY_BASE=development_secret
BIG_HUGE_LABS_THESAURUS_API_KEY=api_key
STRIPE_SECRET_KEY=stripe_secret_key
STRIPE_PUBLISHABLE_KEY=stripe_publishable_key
