@charset 'utf-8';

@import 'normalize-rails';
@import 'bourbon';
@import 'base/grid-settings';
@import 'neat';
@import 'base/base';
@import 'hero';
@import 'font-awesome';

div.container {
  @include outer-container;
}

p.tagline {
  font-style: italic;
}

p#pun-description {
  font-size: 80%;
}

.hidden {
  display: none;
}

.domain-listing {
  a {
    color: pink;
    text-decoration: none;
  }

  text-align: left;
}
